.App {
  font-family: sans-serif;
  text-align: center;

  border: '.5px solid rgba(0, 0, 0, 0.05)', 


}

.user {
  display: flex;
  width: 600px;
  justify-content: space-between;
  margin: 5px;
}
.input{
  border-radius: 5px;
  border-color: gray;
  background-color:rgba(255, 235, 205, 0.72);
}
.tbl{
  display: flex;
    justify-content: space-between;

}
